* {
  font-family: Consolas;
}

body,
::before,
::after {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.hero-section,
.infos-section,
.citation-section,
.call-action-section,
.footer {
  padding: 20px 40px;
}

.header,
.hero-section,
.footer {
  background-color: #1F2937;
}

button,
.call-action-section {
  background-color: #3882F6;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  color: #E5E7EB;
  padding: 0 40px;
}

.logo {
  width: 40px;
  filter: invert(100%) sepia(13%) saturate(1958%) hue-rotate(202deg) brightness(120%) contrast(95%);
}

.activites-list {
  display: flex;
  gap: 10px;
}

.activites {
  list-style-type: none;
  font-size: 12px;
}

/* CONTENU*/

.contenu,
.contenu-fin {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contenu {
  background-color: #F9FAF8;
}

.contenu-fin {
  justify-content: space-around;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: space-between;
  color: #F9FAF8;
}

.hero-left {
  width: 50%;
}

h1 {
  font-size: 12px;
}

.main-description {
  font-size: 8px;
}

button {
  width: 55px;
  height: auto;
  font-size: 8px;
  padding: 3px;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  color: #F9FAF8;
}

.women-gym {
  width: 160px;
  height: auto;
}

/* INFOS SECTION */


.infos-section {
  background-color: #F9FAF8;
  padding-bottom: 2px;
}

h2 {
  font-size: 10px;
  text-align: center;
}

.info-photo {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.infos-details {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.info {
  list-style-type: none;
  text-align: center;
}

.info-text {
  font-size: 8px;
}

/* CITATION SECTION */
.citation-section {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
}

.citation-elements {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 320px;
}

.citation-text,
.citation-source {
  font-size: 10px;
}

blockquote {
  margin: 0;
  padding: 0;
}

.citation-text {
  font-style: italic;
  text-align: right;
}

.citation-source {
  font-weight: 800;
}

/* CALL TO ACTION SECTION */

h3 {
  font-size: 10px;
}
.call-action-section {
  display: flex;
  justify-content: space-around;
  color: #F9FAF8;
}

.action-text {
  font-size: 8px;
}

.action-button {
  align-self: center;
  border: 1px #F9FAF8 solid;
}

/* FOOTER */

.footer-text {
  color: #F9FAF8;
  text-align: center;
  font-size: 7px;
}
